@charset "utf-8";


/* 아이폰se css */

@media screen and (max-width:325px){

/* wrap */

#wrap{width:100%;}

/* 헤더 */
header {
  width:100%;
  height:70px;
  text-align:center;
}

header i.fa-bars {
  position:absolute;
  top:20px;
  left:0px;
  font-size:20px;
  }
  
  header h1 {
  text-align:center;
  }
  
  header h1 img {
  width:50%;
  }

  header .btn1,.btn2,.btn3,.btn4,.btn5,.btn6,.btn7{
    padding-right:5px;
    border:1px solid #808080;
    font-size:12px;

  }
  

  /* 네비 */
header > nav {
  width:100%;
  position:relative;
  background-color:rgba(252, 252, 252, 0.7);
  display:none;
  z-index:9999;
}

nav i.fa-times {
  position:absolute;
  top:0px;
  right:0px;
  font-size:20px;
  cursor:pointer;
  z-index:9999;
}

nav .lnb {
  margin-top:25px;
}

nav .lnb li {
  display:inline;
  border-right:1px solid #333;
}

nav .lnb li a {
  font-size:8px;
  color:#333;
  margin:20px; /* 목록끼리 간격 */
  font-weight:bold;

}

nav .lnb li a:hover {
  text-decoration:underline;
}


/* 섹션 */

section {
  width:100%;
  height:490px;
  position:relative; /* article1,2 기준점 */
}

section .infoimg {
  width:100%;
  height:490px;
  text-align:center;
  position:relative;
}

section .infoimg img {
  width:100%;
}

section #rostar {
  width:100%;
 }
 
 section #rostar img {
   width:100%;
 }
 
 section #busok {
   width:100%;
 }
 
 section #busok img {
   width:100%;
 }

section .big_cut {
  position:absolute;
  bottom:30px;
  display:none;
  
}

section .big_cut img {
  width:90%;
}

section .article1 {
  position:fixed;
  bottom:0px;
  left:0px; 
  font-size:50px;
}

section .article2 {
  position:fixed;
  bottom:0px;
  right:0px;
  font-size:50px; 

}

section table {
  width:300px;
  border:1px solid #000;
  font-size:12px;
  margin:0px auto;
}

footer{
  width:100%;
  height:50px;
}

footer p{
  color:#f00;
  text-align:center;
  font-size:8px;
}

}