@charset "utf-8";

/*tablet.css */

@media screen and (min-width:768px) and (max-width:1023px) {

   
/* 배경이미지 */

body {
    background-image: url(../main_img/paper.jpg);
    
}

#wrap {
    width:100%;
  }
  
  header {
    width:100%;
    height:200px;
    position:relative; /* 토글기준점 */
    
  }

   button i.fa-bars {
   position:absolute;
   top:20px;
   font-size:40px;
   cursor:pointer;
  }

  nav {
    width:100%;
    position:relative;
    background-color:rgba(252, 252, 252, 0.7);
    display:none;
    z-index:9999;
  }

  button i.fa-times {
   position:absolute;
   font-size:40px;
   top:2px;
   right:0px;
   z-index:9999;
   cursor:pointer;

  }

 
  nav .lnb {
   margin-top:40px;
   
  }

  nav .lnb li {
   display:inline;
   border-right:1px solid #333;
   
  }

  nav .lnb li a {
   font-size:12px;
   color:#333;
   margin:20px; /* 목록끼리간격 */
   font-weight:bold;

  }

  nav .lnb li a:hover {
    text-decoration:underline;
  }

  section {
  width:100%;
  height:900px;
  position:relative; /* 화살표기준점 */
  }



  section .sec_tit {
    text-align:center;
  }

  section .sec_tit h1 img {
    width:30%;
    display:inline-block;
    
    
  }

  section .sec_tit h2 img {
    width:30%;
  }
  
  section .sec_tit p img {
    width:75%;
    margin-top:100px;
    
  }

   .article1 {
    position:fixed;
    bottom:0;
    left:0px;
    font-size:100px;
    
  }

   .article2 {
     position:fixed;
     bottom:0;
     right:0px;
     font-size:100px;
     
   }

  footer {
   width:100%;
   height:100px;
  
   
  }

  footer address {
    font-size:20px;
    color:#333;
    text-align:center;
  }




}